
/* Body Section */
body {
    position: relative;
    left: 40px;
    background-image: url('.background.jpg');
    color: #A18982;
}

/* Header Section */
.header {
    margin-left: 1.25em;
}

/* SignUp Section */
.signUpDiv {
    text-align: center;
}


/* LogIn Section */
.logInDiv {
    text-align: center;
}

/* About Devs Section */
.aboutUL {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.aboutLI {
    margin: 0.50em;
    padding: 0.50em;
    padding-top: 1.25em;
    height: 200px;
    width: 150px;
    font-size: 14px;
}

.aboutText {
    word-wrap: wrap;
    height: 80px;
    width: 150px;
    font-size: 14px;
    margin: 0.50em;
    padding: 0.50em;
    border: solid black 
}

#aboutDevs {
    margin-left: 3.5em;
    font-style: italic;
}

#aboutChelsea {
    background-color: #FF6224;
}

#aboutDannie {
    background-color: #A7AE38;
}

#aboutJenna {
    background-color: #CBFFE5;
}

#aboutJanelle {
    background-color: #A18982;
}

#aboutDakota {
    background-color: rgb(138, 19, 91);
}

.flossBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    width: 20%;
    float: left;
    margin: 5px;
    padding: 5px;
}

.hexContainer {
    width: 100px;
    height: 100px; 
}

/* Floss Section */

.flossBox {
    background-color: rgba(255, 255, 255, 0.522);
}