
/* Body Section */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
}

.logo {
    color: rgb(235, 210, 229);
}

p {
    font-family: "Open Sans";
}

body {
    left: 40px;
    background: linear-gradient( rgba(108, 85, 146, .4), rgba(108, 85, 146, .4)), url('./flossOption_5.jpg');
    color: #A18982;
}

a {
    text-decoration: none;
 }

button, a, i {
    cursor: pointer;
}

button:hover {
    background-color: rgba(93, 51, 86, .7);
    color: rgb(181, 212, 147);
}

button:disabled {
    background-color: rgba(148, 148, 148, 0.3);
    color: rgb(148, 148, 148);
    cursor: default;
}

i.fas.fa-trash-alt {
    color: rgb(93, 51, 86);
    margin-left: 15px;
}

button {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;    
    background-color: rgb(174, 207, 138);
    color: #5D3356;
    font-weight: bold;
    font-size: 12px;
}

/* Header Section */
.header {
    color: #FFF;
    margin-left: 1.5em;
}

/* Splash Section */
.splashLinks {
    display: flex;
    justify-content: space-evenly;
}

#splashContainer {
    text-align: center;
    margin-top: 150px;
    margin-right: 80px;
    margin-left: 80px;
    padding: 20px;
    border: white 5px solid; 
    background-color: rgba(82, 85, 63, 0.671);
}

#splashHeader {
    font-size: 90px;
    font-weight: bolder;
    padding-top: 5px;
    margin: 20px;
}

#splashText {
    font-size: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

#splashButton {
    font-size: 30px;
    background-color: #DEDCD0;
    padding: 10px;
    margin: 15px;
}

.splashLinks a {
    font-size: 40px;
    color: white;
    background-color: rgba(82, 85, 63, 0.671);
}

/* SignUp Section */
/* .signUpDiv {
    text-align: center;
    background: rgba(82, 85, 63, 0.671);
} */


/* LogIn Section */
.logInDiv {
    text-align: center;
}

/* About Devs Section */
.aboutUL {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.aboutLI {
    margin: 0.50em;
    padding: 0.50em;
    padding-top: 1.25em;
    height: 200px;
    width: 150px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(74, 87, 79);
    text-shadow: 2px 0px  rgb(143, 168, 153);
}

.dannieLI {
    margin: 0.50em;
    padding: 0.50em;
    padding-top: 1.25em;
    height: 200px;
    width: 150px;
    font-size: 13.5px;
    font-weight: bold;
    color: rgb(74, 87, 79);
    text-shadow: 2px 0px  rgb(143, 168, 153);
}

.aboutText {
    word-wrap: wrap;
    height: 120px;
    width: 150px;
    font-size: 14px;
    margin: 0.50em;
    padding: 0.50em;
    border: solid black;
    background-color: rgba(82, 85, 63, 0.671);
}

#aboutDevs {
    margin-left: 2em;
    font-style: italic;
}

#aboutChelsea {
    background-color: #FF6224;
}

#aboutDannie {
    background-color: #A7AE38;
}

#aboutJenna {
    background-color: #CBFFE5;
}

#aboutJanelle {
    background-color: #A18982;
}

#aboutDakota {
    background-color: rgb(138, 19, 91);
}

.social-media-links {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 35%;
}

.linked {
    margin-right: 4px;
}

/* Floss Section */
.hexContainer {
    width: 100px;
    height: 100px; 
}

ul {
    padding: 0;
}

.flossContainer {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
}

.flossBox {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    width: 170px;
    height: 260px;
    margin: 20px 10px;
    padding: 20px 10px;
    color: #333333;
    border-radius: 10px;
}

.flossBox h3 {
    margin: 0;
    text-align: center;
    color: #333333;
    font-size: 22px;
}

.flossBox h4 {
    margin: 0;
    font-family: 'Open Sans';
    font-size: 14px;
}

select {
    margin: 5px;
  }

.componentContainer {
    margin-left: 100px;
    margin-right: 40px;
}

/* Palettes */

.centered {
    text-align: center;
}

div.palette {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
    margin-bottom: 20px;
}

div.paletteContainer {
    display: flex;
    flex-direction: column;
}

.paletteContainer h2 {
    margin-left: 40px;
}

div.flexRightAlign {
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.flexRightAlign input {
    width: 150px;
    margin-right: 20px;
    padding-left: 5px;
}

div.palette div.flossContainer li {
    height: 210px;
}