.flossContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flossBox {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  width: 170px;
  height: 290px;
  margin: 20px 10px;
  padding: 20px 10px;
  color: #333333;
  border-radius: 10px;
}

.flossBox h3 {
  margin: 0;
  text-align: center;
  color: #333333;
  font-size: 20px;
  font-family: 'Nothing You Could Do', sans-serif;
}

.flossBox h4 {
  margin: 0;
  font-family: 'Open Sans';
  font-size: 14px;
}

select {
  margin: 5px;
}

#ownedText {
  font-family: 'Open Sans';
  font-size: 12px;
}

i.fas.fa-trash-alt {
  color: rgb(93, 51, 86);
  margin-left: 15px;
}

.hexContainer {
  width: 100px;
  height: 100px; 
  margin: 10px 0;
}