#footerComponent {
  background: #000;
  color: #fff;
  margin-top: 110px;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

#footerComponent a {
  color: #FFF;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}