.signUpDiv {
    color: #333;
    background: rgba(255, 255, 255, 0.671);
    text-align: center;
    width: 280px;
    padding: 20px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-200px;
    margin-top:-200px;
}

.signUpDiv h3 {
    font-family: 'Nothing You Could Do', sans-serif;
    font-size: 33px;
}

.signUpDiv .error {
    background: rgb(255, 207, 201);
    border: 1px solid red;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px
}

input {
    height: 30px;
    width: 200px;
    font-size: 16px;
    padding-left: 1em;
}

.primarySignUpButton {
    padding: 1em;
    margin: 1.25em;
    font-size: 16px;
}