body {
    font-family: 'Nothing You Could Do';
    /* background-image: url('./flossOption_5.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    left: 40px;
    background: linear-gradient( rgba(108, 85, 146, .4), rgba(108, 85, 146, .4)), url('./flossOption_5.jpg');
    color: #A18982;
}



main {
    text-align: center;
    margin-top: 200px;
    margin-right: 300px;
    margin-left: 200px;
    padding: 20px;
    border: none; 
    background-color: rgba(255, 255, 255, 0.671);
}

h1.splash {
    color: #333;
    font-size: 90px;
    font-weight: bolder;
    padding-top: 5px;
    margin: 20px;
}

p.splash {
    color: #333;
    font-family: 'Open Sans';
    font-size: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

 button.splash {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #C79682;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}

#signUpButton {
    color:  rgb(174, 207, 138);
    background-color: #5D3356;
}

#signInButton {
    color: #5D3356;
    background-color: rgb(174, 207, 138);
}

#signUpButton:hover {
    background-color:rgb(181, 212, 147);
    color: rgba(93, 51, 86, .7);
}

#signInButton:hover {
    background-color:rgba(93, 51, 86, .7);
    color:rgb(181, 212, 147);
}

