body {
    font-family: 'Nothing You Could Do';
    /* background-image: url('./flossOption_5.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.splashLinks {
    font-family: 'Shadows Into Light', cursive;
}

p {
    font-family: 'Open Sans';
}
